
// styles
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
$gs_font: 'Cabin';
$background_color: #E5E5E5;

html, body {
    margin:0px;
    min-height: 100%;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.main__page {
    color: #232129;
    padding: 96;
    font-family: $gs_font;
    background-color: $background_color;

    &__heading {
        margin-top: 0;
        margin-bottom: 64;
        max-width: 320;
    }

    &__heading--accent {
        color: #663399;
    }
}

.widgets__container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media (max-width: 1025px) {
    .widgets__container {
        flex-direction: column;
        align-items: center;
    }
}